services:
    api:
        build: .
        container_name: kanban-api
        restart: unless-stopped
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`api.kanbano.fr`)"
            - "traefik.http.routers.api.entrypoints=websecure"
            - "traefik.http.routers.api.tls.certresolver=letsencrypt"
            - "traefik.http.services.api.loadbalancer.server.port=3000"
        networks:
            - dokploy-network

        healthcheck:
            test: [ "CMD", "node", "-e", "require('http').get('http://localhost:3000/api/health', (r) => {process.exit(r.statusCode === 200 ? 0 : 1)})" ]
            interval: 30s
            timeout: 3s
            retries: 3
            start_period: 40s

networks:
    dokploy-network:
        external: true
