services:
    api:
        build: .
        container_name: kanban-api
        restart: unless-stopped
        environment:
            - PORT=3000
            - DATABASE_URL=${DATABASE_URL}
            - JWKS_URL=${JWKS_URL}
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`api.kanbano.fr`)"
            - "traefik.http.routers.api.entrypoints=websecure"
            - "traefik.http.routers.api.tls.certresolver=letsencrypt"
            - "traefik.http.services.api.loadbalancer.server.port=3000"
        networks:
            - dokploy-network

networks:
    dokploy-network:
        external: true
